@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Marhey&family=Poppins&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(0, 0, 0);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    color: white;
}

.nav-items {
    font-size: 1.5rem;
    font-family: 'Roboto Serif', serif;
}

.nav-items li {
    display: inline-block;
}

.nav-items a {
    color: white;
    margin: 0 3rem;
}

.logo {
    margin-left: 3rem;
    font-size: 3rem;
    font-family: 'Marhey', sans-serif;
}

.menu {
    font-size: 2.5rem;
    float: right;
    margin-right: 2rem;
    display: none;
}

.btn {
    background-color: green;
    margin-right: 5rem;
    padding: .5rem 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Marhey', sans-serif;
    border-radius: .7rem;
}

.box {
    background-color: #141517;
    border-radius: 4rem;
    height: 6rem;
}

.container1 {
    margin: 3rem 20rem;
   display: grid;
   grid-template-columns: repeat(4 , 1fr); 
   grid-template-rows: repeat(10 , 1fr);
   grid-gap: 3rem; 
}

#item1{
    grid-column: 1/3;
    grid-row: 1/5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_1 img{
    width: 28rem;
}

.content{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.503);
}

.content h1{
    font-size: 3.5rem;
    margin: .5rem 0 .9rem;
    color: white;
}

#item2{
    grid-column: 3/5;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.run{
   display: flex;
   align-items: center;
}

.run .text{
    color: white;
    animation: Move 7s linear infinite;
}


@keyframes Move{
    0%{
        transform: translateX(150%);
    }

    100%{
        transform: translateX(-100%);
    }
}


#item3{
    grid-column: 3/4;
    grid-row: 2/5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img_3 img{
    width: 14rem;
}

.info {
    font-size:1.1rem ;
    align-self: flex-start;
    margin-left: 2.5rem;
    line-height: 1.3;
}

.info h4{
    color: rgba(255, 255, 255, 0.644);
}

.info h1{
    font-size: 2.5rem;
}

#item4{
    grid-column: 4/5;
    height: 100%;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#item5{
    grid-column: 1/2;
    height: 100%;
    grid-row: 5/8;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content:space-evenly;
    justify-items: center;
}

#item5 i{
    font-size: 6rem;
}

#item6{
    grid-column: 2/4;
    grid-row: 5/8;
    height: 100%;
}

#item7{
    grid-column: 4/5;
    grid-row: 5/8;
    height: 100%;
}

#item8{
    grid-column: 1/3;
    height: 100%;
    grid-row: 8/11;
}

#item9{
    grid-column: 3/5;
    height: 100%;
    grid-row: 8/11;
}


.name1 , .name2 , .name3{
    display: none;
    font-size: 3rem;
}


@media(max-width:450px) {

    .name1{
        display: block;
    }

    html{
        font-size: 50%;
    }

    .logo {
        margin-left: 1rem;
        font-size: 2.5rem;
    }

    .nav-items {
        display: none;
        position: fixed;
        top: 6rem;
        text-align: center;
        z-index: 10;
        background-color: black;
    }

    .menu {
        display: block;
    }

    .ab {
        display: block;
    }

    .nav-items li {
        width: 100%;
        margin: 3rem 1rem;
    }

    .btn {
        display: none;
    }

    .box{
        height: 6rem;
    }

    .container1{
        margin: 1rem 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(20 , 1fr);
        row-gap: 2rem;
        column-gap:2rem;
    }

    #item1{
        grid-column: 1/3;
        grid-row: 2/5;
        height: 100%;
        justify-content: center;
    }

    .img_1 img{
        width: 17rem; 
        margin: 0 2rem;
    }

    #item2{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #item3{
        grid-column: 1/2;
        grid-row: 5/8;
        height: 100%;
    }

    .img_3 img{
        width: 12rem;
    }

    #item4{
        grid-column: 2/3;
        grid-row: 5/8;
        height: 100%;
    }
    #item5{
        grid-column: 1/2;
        height: 100%;
        grid-row: 11/14;
    }

    #item6{
        grid-column: 1/3;
        height: 100%;
        grid-row: 8/11;   
    }

    #item7{
        grid-column: 2/3;
        height: 100%;
        grid-row: 11/14;
    }

    #item8{
        grid-column: 1/3;
        height: 100%;
        grid-row: 14/17;
    }

    #item9{
        grid-column: 1/3;
        height: 100%;
        grid-row: 17/20;
    }
    
}

@media(max-width:376px) {

    .name2{
        display: block;
    }
    
    .container1{
        margin: 1.5rem 1.3rem;
    }

    .logo {
        font-size: 2.5rem;
    }

    .img_1 img{
        margin: 0;
    }
    
}

@media(max-width:321px) {

    .name3{
        display: block;
    }
    
    .container1{
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        margin: 1rem 1.3rem;
    }

    .box{
        height: 5rem;
    }

    .logo {
        font-size: 2.3rem;
    }

    .img_1 img{
        width: 15rem;
    }
    
    .content{
        font-size: 1.7rem;
        word-wrap: break-word;
    }

    .content h1{
        font-size: 2.5rem;
        margin-top: 1.2rem;
    }

    .text{
        font-size: 1.7rem;
    }

    .img_3 img{
        width: 10rem;
    }

    .info{
        font-size: 1.3rem;
    }
}

